/* rotation */
@keyframes rotation
{
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(359deg);
  }
}

/* body */
body
{
  font-family: "Terminus", "Iosevka", "Fira Code", monospace, sans-serif;
  background-color: #000000;
  background-size: cover;
  max-width: 1000px;
  color: #FFFFFF;
  margin: auto;
}

/* global defaults */
h1 { font-size: 20px; }
h2, p, ul { font-size: 15px; }
a { color: inherit; }
hr { margin: 0; color: white; }
hr.thin { margin: 0; color: grey; }
div { margin: 10px; font-size: 15px; }

/* lambda */
img.lambda {
  animation: rotation 10s infinite linear;
  content: url("assets/lambda/lambda.png");
  height: 200px;
  vertical-align: bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.lambda:hover {
  animation: rotation 10s infinite linear;
  content: url("assets/lambda/lambda-trans.png");
}

/* footer */
div.text
{
  text-align: center;
}

div.text a
{
  text-decoration: none;
}
